@using EcommerceShop.Shared.Product
@model ProductVm
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    var backendUrl = Configuration.GetServiceUri("backend");
}
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-color: lavender">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Chi tiết sản phẩm</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="product_img_slide owl-carousel">
                    @foreach (var image in Model.Images)
                    {
                        <div class="single_product_img">
                            <img src="@backendUrl/@image.ImageUrl" alt="#">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="single_product_text text-center">
                    <input hidden asp-for="@Model.ProductId" />
                    <h3>
                        @Model.Name<br>

                    </h3>
                    <h4>
                        Thể Loại : @ViewBag.categoryName
                    </h4>
                    <h4>
                        Thương Hiệu : @ViewBag.brandName
                    </h4>
                    <h4>
                        Hàng có sẵn : @Model.Amount
                    </h4>
                    <p>
                        <span>
                            @{
                                for (int i = 1; i <= Model.total(); i++)
                                {
                                    <i class="fas fa-star" style="color:yellow"></i>
                                }
                                for (int i = 1; i <= 5-Model.total(); i++)
                                {
                                    <i class="far fa-star"></i>
                                }
                            }
                        </span>
                    </p>
                    <p>
                        @Model.Description
                    </p>
                    <div class="card_area">
                        <div class="product_count_area">
                            <p>Số lượng</p>
                            <div class="product_count d-inline-block">
                                <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                                <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                                <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                            </div>
                            <p>@Model.Price VND</p>
                        </div>
                        <div class="add_to_cart">
                            <a href="#" class="btn btn-primary">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("RatingProduct", new { ProductId = Model.ProductId})
@await Component.InvokeAsync("RelatedProducts", new { RelatedProductId = Model.ProductId, CategoryId = Model.CategoryId })
<!--================End Single Product Area =================-->
<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
