@using EcommerceShop.Shared.Product
@model IList<ProductVm>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    var backendUrl = Configuration.GetServiceUri("backend");
}
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-color:antiquewhite">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>product list</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- product list part start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product_sidebar">
                    <div class="single_sedebar">
                        <form action="#">
                            <input type="text" name="#" placeholder="Search keyword">
                            <i class="ti-search"></i>
                        </form>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Category <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p><a href="#">Category 1</a></p>
                                <p><a href="#">Category 2</a></p>
                                <p><a href="#">Category 3</a></p>
                                <p><a href="#">Category 4</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Type <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p><a href="#">Type 1</a></p>
                                <p><a href="#">Type 2</a></p>
                                <p><a href="#">Type 3</a></p>
                                <p><a href="#">Type 4</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product_list">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_item">
                                    <a class="my-product-img" asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId">
                                        <img src="@backendUrl/@item.getFirstUrl()" alt="">
                                    </a>
                                    <h3>
                                        <a asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId" style="text-align:center">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <ul>
                                            <li style="color:red">@item.Price VND</li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-warning" asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId">AddToCart</a>
                                </div>
                            </div>
                        }
                    </div>
                            <div class="load_more_btn text-center">
                                <a href="#" class="btn_3">Load More</a>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>